.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  &--title{
    color: #ffffff;
    font-size: 20px;
  }
}
