<nz-layout class="body">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="256">
    <app-menu-left-student [isCollapsed]="isCollapsed"></app-menu-left-student>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="header__box">
        <button nz-button nzType="default" class="header__box--btn" (click)="logout()">
          <i nz-icon nzType="export" nzTheme="outline"></i>
          Salir
        </button>
      </div>
    </nz-header>
    <nz-content style="height: 100%; margin: 50px">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
