<div>
  <div *ngIf="flag==0">
    <p>{{text}}</p>
    <div nz-row>
      <div nz-col nzSpan="7">
        <div class="exercise">
          <nz-card class="exercise--card" nzTitle="Ejercicio 1">
            <div class="exercise--block">
              <img class="exercise--img" src="https://image.flaticon.com/icons/svg/337/337946.svg" alt="">
            </div>
          </nz-card>
          <button class="exercise--btn" nz-button nzType="default" (click)="changeHelp()">Ayuda</button>
        </div>
      </div>
      <div nz-col nzSpan="17">
        <nz-table class="table-home" #basicTable [nzData]="varTable.content" [nzPageSize]="5"
                  [nzShowPagination]="false">
          <thead>
          <tr>
            <th *ngFor="let column of varTable.title">{{column}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.estado }}</td>
            <td>{{ data.pendiente }}</td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
  <div *ngIf="flag==1">
    <p>{{text_2}}</p>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-upload
          nzType="drag"
          [nzMultiple]="true"
          [nzLimit]="2"
          nzAction="https://jsonplaceholder.typicode.com/posts/"
        >
          <p class="ant-upload-drag-icon">
            <i nz-icon nzType="inbox"></i>
          </p>
          <p class="ant-upload-text">Haga clic o arrastre el archivo a esta área para cargar</p>
          <p class="ant-upload-hint">
            Soporte para una carga simple o masiva.
        </nz-upload>
      </div>
    </div>
  </div>
  <div *ngIf="flag==2">
    <div nz-row>
      <div nz-col nzSpan="12">
        <div class="exercise">
          <p>{{text_video}}</p>
          <nz-card class="exercise--card">
            <div class="exercise--block">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/cwfuydUHZ7o"
                      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
              </iframe>
            </div>
          </nz-card>
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div class="exercise">
          <p>{{text_comment}}</p>
          <nz-input-group nzSearch  [nzAddOnAfter]="suffixButton">
            <input type="text" nz-input placeholder="Ingrese su feedback" />
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSearch>Enviar</button>
          </ng-template>

          <div style="margin: 10px 0;"></div>
          <nz-card>
            <nz-card-meta
              [nzAvatar]="avatarTemplate"
              nzTitle="Melina Arroyo"
              nzDescription="Excelente Video de apoyo."
            ></nz-card-meta>
          </nz-card>
          <div style="margin: 10px 0;"></div>
          <nz-card>
            <nz-card-meta
              [nzAvatar]="avatarTemplate"
              nzTitle="Melina Arroyo"
              nzDescription="Excelente Video de apoyo."
            ></nz-card-meta>
          </nz-card>
          <div style="margin: 10px 0;"></div>
          <nz-card>
            <nz-card-meta
              [nzAvatar]="avatarTemplate"
              nzTitle="Melina Arroyo"
              nzDescription="Excelente Video de apoyo."
            ></nz-card-meta>
          </nz-card>

          <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://uinames.com/api/photos/female/16.jpg"></nz-avatar>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<div *nzModalFooter>
  <button *ngIf="flag==0" nz-button nzType="default" (click)="next()">Siguiente</button>
  <button *ngIf="flag==1" nz-button nzType="default" (click)="preview()">Atrás</button>
  <button *ngIf="flag==1" nz-button nzType="default" (click)="send()">Enviar</button>
  <button *ngIf="flag==2" nz-button nzType="default" (click)="preview()">Atrás</button>
</div>
