<div nz-row>
  <div nz-col nzSpan="24">
    <nz-card [nzBordered]="false">
      <div class="card-title">
        <div class="card-title--name">{{title}}</div>
        <div class="card-title--cicle">{{cicle}}</div>
      </div>
      <div nz-row>
      	<div style="float: right; margin-bottom: 15px;">
    		<div nz-col nzSpan="12">
				<nz-select
				      style="width: 200px;"
				      nzShowSearch
				      nzAllowClear
				      nzPlaceHolder="Seleccione un ciclo"
				    >
				      <nz-option nzLabel="Ciclo I" nzValue="1"></nz-option>
				      <nz-option nzLabel="Ciclo I" nzValue="2"></nz-option>
				      <nz-option nzLabel="Ciclo II" nzValue="3"></nz-option>
				      <nz-option nzLabel="Ciclo III" nzValue="4"></nz-option>
				      <nz-option nzLabel="Ciclo IV" nzValue="5"></nz-option>
				      <nz-option nzLabel="Ciclo V" nzValue="6"></nz-option>
				      <nz-option nzLabel="Ciclo VI" nzValue="7"></nz-option>
				      <nz-option nzLabel="Ciclo VII" nzValue="8"></nz-option>
				      <nz-option nzLabel="Ciclo VIII" nzValue="9"></nz-option>
				</nz-select>
    		</div>
      	</div>
      </div>
      <div nz-row>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style=" margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate1">
			  <nz-card-meta nzTitle="Algoritmos" nzDescription="Ronald Cardenas"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate1>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/algoritmos.jpg?itok=dxSkh6QZ" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style=" margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate2" (click)="viewCourses()">
			  <nz-card-meta nzTitle="Paradigmas de Programación" nzDescription="Alisson Arroyo"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate2>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/paradigmas.jpg?itok=RFfIxlnA" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style=" margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate3" (click)="viewCourses()">
			  <nz-card-meta nzTitle="Programación Orientada a Objetos" nzDescription="Isabel Taquire"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate3>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/programacion-orientada-a-objetos.jpg?itok=GvlbF79-" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate4">
			  <nz-card-meta nzTitle="Patrones de Diseño" nzDescription="Isabel Taquire"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate4>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/patrones-creacionales_0.jpg?itok=IeJzS5bw" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate5">
			  <nz-card-meta nzTitle="Patrones de Diseño II" nzDescription="Giordano Barbieri"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate5>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/patrones-estructurales.jpg?itok=GaYMbVjH" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate6">
			  <nz-card-meta nzTitle="Patrones de Diseño III" nzDescription="Ferdinand Braun"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate6>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/patrones-comportamentales.jpg?itok=F2ov6ClO" />
			</ng-template>
		</div>

		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate7">
			  <nz-card-meta nzTitle="Fundamentos de AWS" nzDescription="Juan Lozano"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate7>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/aws-i_0.jpg?itok=qqh7AjWK" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate8">
			  <nz-card-meta nzTitle="Java" nzDescription="Alisson Arroyo"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate8>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/java-bases-de-datos.jpg?itok=2cArgO8s" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate9">
			  <nz-card-meta nzTitle="Almacenamiento en AWS" nzDescription="Maruja Castillo"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate9>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/aws-iii.jpg?itok=CcDosye1" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate10">
			  <nz-card-meta nzTitle="SEO y Analitica Web" nzDescription="Kevin Gonzales"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate10>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/imagenes-cdn-edteam/2019-06/SEO%20y%20analitica%20web.png" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate11">
			  <nz-card-meta nzTitle="Seguridad y Networking en AWS" nzDescription="Gianella Reyna"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate11>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/aws-ii.jpg?itok=kpbdwCSx" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate12">
			  <nz-card-meta nzTitle="Fundamentos de Redes" nzDescription="Juan Bernilla"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate12>
			  <img alt="example" src=" https://drupal.ed.team/sites/default/files/imagenes-cdn-edteam/2019-03/Redes%20Fundamentos.png" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate13">
			  <nz-card-meta nzTitle="Gestión y Desarrollo Web" nzDescription="Angel Goñi"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate13>
			  <img alt="example" src=" https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/desarrollo-web.png?itok=_U7lMlky" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate14">
			  <nz-card-meta nzTitle="Fundamentos de Diseño" nzDescription="Mary Moya"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate14>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/design-2018.jpg?itok=JSQIjSe0" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate15">
			  <nz-card-meta nzTitle="Servicios de Computo en AWS" nzDescription="Sonia Alvarado"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate15>
			  <img alt="example" src=" https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/aws-iv.jpg?itok=08OK4f5U" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate16">
			  <nz-card-meta nzTitle="Administración de Servidores" nzDescription="Franz Braun"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate16>
			  <img alt="example" src=" https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/linux_0.png?itok=vRdoUr0k" />
			</ng-template>
		</div>
	  </div>
    </nz-card>
  </div>
</div>
