<div nz-row>
  <div nz-col nzSpan="24">
    <nz-card [nzBordered]="false">
      <div class="card-title">
        <div class="card-title--name">{{title}}</div>
        <div class="card-title--cicle">{{cicle}}</div>
      </div>
      <div nz-row>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="width:240px; margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate1">
			  <nz-card-meta nzTitle="Programación" nzDescription="Shirley Reaño"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate1>
			  <img alt="example" src="https://drupal.ed.team//sites/default/files/2018-06/especialidad-programacion.jpg" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="width:240px;margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate2">
			  <nz-card-meta nzTitle="Angular" nzDescription="Robert Goñi"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate2>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/16_9_medium/public/imagenes-cdn-edteam/2019-08/angular.png" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="width:240px;margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate3">
			  <nz-card-meta nzTitle="Patrones de Diseño" nzDescription="Luis Yauri"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate3>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/2018-06/design-especialidad.jpg" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="width:240px;margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate4">
			  <nz-card-meta nzTitle="Java" nzDescription="Alisson Arroyo"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate4>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/java-caja-registradora.jpg?itok=ozegscsn" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="width:240px;margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate4">
			  <nz-card-meta nzTitle="Java" nzDescription="Alisson Arroyo"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate4>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/java-caja-registradora.jpg?itok=ozegscsn" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="width:240px;margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate3">
			  <nz-card-meta nzTitle="Patrones de Diseño" nzDescription="Luis Yauri"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate3>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/2018-06/design-especialidad.jpg" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="width:240px;margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate4">
			  <nz-card-meta nzTitle="Java" nzDescription="Alisson Arroyo"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate4>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/java-caja-registradora.jpg?itok=ozegscsn" />
			</ng-template>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
		  	<nz-card nzHoverable style="width:240px;margin: 10px;margin-bottom: 20px;" [nzCover]="coverTemplate4">
			  <nz-card-meta nzTitle="Java" nzDescription="Alisson Arroyo"></nz-card-meta>
			</nz-card>
			<ng-template #coverTemplate4>
			  <img alt="example" src="https://drupal.ed.team/sites/default/files/styles/medium/public/courses/images/java-caja-registradora.jpg?itok=ozegscsn" />
			</ng-template>
		</div>
	  </div>
    </nz-card>
  </div>
</div>
